@import "./style.css";
@import "tailwindcss";


@theme {
    --color-primary: #00D09C;
    --color-primary-dark: #00a37a;
}

@layer components {
    .btn-primary {
        border-radius: 4px;
        background-color: var(--color-primary);
        padding-inline: --spacing-(6);
        padding-block: --spacing-(2);
        font-weight: var(--font-weight-semibold);
        color: var(--color-white);
    }
    .btn-primary:hover {
        background-color: var(--color-primary-dark);
        cursor: pointer;
    }
    
}